{{> menu active="about"}}

<section class="section">
  <div class="container">
    <h1 class="title">About Placemark</h1>

    <div class="content">
      <p>
       Placemark is a simple tool for making and storing points of interest. 
      </p>
    </div>

      <div class="column">
        <h3 class="title is-4">Users Can</h3>
        <ul>
          <li><strong>Store</strong> – Store the POI's.</li>
          <li><strong>Save descriptions</strong> – Save descriptions and summaries for their POIs.</li>
          <li><strong>Sort</strong> – Sort saved POIs by category.</li>
          <li><strong>User Details</strong> – Change their user details.</li>
        </ul>
      </div>
    </div>
  </div>
</section>