<section class="section">
    <form class="box" action="/public-poi/view/{{poi._id}}/add-comment" method="POST">
    <div class="field">
          <label class="label">Title</label>
          <input class="input" type="text" placeholder="Comment Title" name="title">
        </div>
    <div class="field">
      <label class="label">Text</label>
      <textarea class="textarea" name="text" rows="4"></textarea>
    </div>
    <button class="button is-primary">Add Comment</button>
    </form>
</section>